Sorting Data
1. find top 5 samsung phones with biggest screen size
2. sort all the phone in decending order of number of total cameras
3. sort data on the basis of ppi in decreasing order
4. find the phone with 2nd largest battery
5. find the name and rating of the worst rated apple phone
6. sort phones alphabetically and then on the basic of rating in desc order
7. sort phones alphabetically and then on the basic of price in asc order
***

1.SELECT model,screen_size FROM campusx.smartphones where brand_name = 'samsung'
order by screen_size desc limit 5;


2.SELECT model,num_front_cameras+num_rear_cameras as 'total_camera' FROM campusx.smartphones
order by total_camera desc;




3.SELECT model,round(sqrt((resolution_width*resolution_width + resolution_height*resolution_height)/screen_size),2) as 'ppi' 
FROM campusx.smartphones
order by ppi desc limit 5;



4.SELECT model,battery_capacity FROM campusx.smartphones
order by battery_capacity desc limit 1,1;



5.SELECT model,rating FROM campusx.smartphones
where brand_name = 'apple'
order by rating asc limit 1


6.SELECT brand_name,rating FROM campusx.smartphones
order by brand_name asc , rating desc limit 4;



7.SELECT brand_name,price FROM campusx.smartphones
order by brand_name asc , price desc;


***

Grouping Data
1. Group smartphones by brand and get the count, average price, max rating, avg screen size and avg battery capacity
--> Group By Animation
2. Group smartphones by whether they have an NFC and get the average price and rating
3. Group smartphones by the extended memory available and get the average price
4. Group smartphones by the brand and processor brand and get the count of models and the average primary camera resolution (rear)
5. find top 5 most costly phone brands
6. which brand makes the smallest screen smartphones
7. Avg price of 5G phones vs avg price of non 5G phones
8. Group smartphones by the brand, and find the brand with the highest number of models that have both NFC and an IR blaster
9. Find all samsung 5G enabled smartphones and find out the avg price for NFC and Non-NFC phones
10. find the phone name, price of the costliest phone
***

1. SELECT brand_name,count(*) as 'num_phones',round(avg(price)) as 'avg_price',max(rating) as 'max_rating',round(avg(screen_size)) as 'avg_scree_size' ,round(avg(battery_capacity)) as 'avg_bat_cap'
FROM campusx.smartphones
group by brand_name
order by num_phones desc limit 5;


2.SELECT has_nfc, avg(price) ,avg(rating)
 FROM campusx.smartphones
 group by has_nfc;


 3.SELECT extended_memory_available as 'ext_m/y avl',round(avg(price),2) as 'avg_price' FROM campusx.smartphones
group by extended_memory_available;



4. SELECT brand_name,processor_brand,count(*) as 'num_phones',round(avg(primary_camera_rear)) as 'avg_camera_resolution'
 FROM campusx.smartphones
 group by brand_name,processor_brand;


 5.SELECT brand_name,round(avg(price)) as 'avg_price' FROM campusx.smartphones
group by brand_name
order by avg_price desc limit 5;



6.SELECT brand_name,round(avg(screen_size)) as 'avg_screen_size' FROM campusx.smartphones
group by brand_name
order by avg_screen_size asc limit 1,1;



7.SELECT has_5g ,round(avg(price)) FROM campusx.smartphones
group by has_5g



8.SELECT brand_name,count(*) as 'count' FROM campusx.smartphones
where has_nfc = 'True' and has_ir_blaster = 'True'
group by brand_name
order by count desc limit 1;


9.SELECT has_nfc,round(avg(price)) FROM campusx.smartphones
where brand_name = 'samsung' and has_5g = 'True'
group by has_nfc;


10.SELECT brand_name,price FROM campusx.smartphones
order by price desc limit 1;

Having clause
1. find the avg rating of smartphone brands which have more than 20 phones
2. Find the top 3 brands with the highest avg ram that have a refresh rate of at least 90 Hz and fast charging available and dont   consider brands which have less than 10 phones
3. find the avg price of all the phone brands with avg rating > 70 and num_phones more than 10 among all 5G enabled phones

select keliye jo kaam where krta hai whi kaam Group by keliye having clause krte hai
Q--> find the brand name whose average price is maximum when count>20 

0. SELECT brand_name,count(*) as 'count',round(avg(price)) as 'avg_price' FROM campusx.smartphones
group by brand_name
having count >20
order by avg_price Desc;



1. SELECT brand_name,count(*) as 'count',round(avg(rating)) as 'avg_rating' FROM campusx.smartphones
group by brand_name
having avg_rating>40
order by brand_name desc




2.SELECT brand_name,avg(ram_capacity) as 'avg_ram' FROM campusx.smartphones
where refresh_rate>90 and fast_charging_available =1
group by brand_name
having count(*)>10
order by avg_ram desc limit 3;



3. SELECT brand_name,round(avg(price)) as 'avg_price' FROM campusx.smartphones
where has_5g = 'True'
group by brand_name
having avg(rating)>70 and count(*)>10

Practice
1. find the top 5 batsman in IPL
2. find the 2nd highest 6 hitter in IPL
3. Find Virat Kohli's performance against all IPL teams[info not available]
4. Find top 10 batsman with centuries in IPL
5. find the top 5 batsman with highest strike rate who have played a min of 1000 balls
***

1.SELECT batter,sum(batsman_run) as 'total_run' FROM campusx.ipl
group by batter
order by total_run desc limit 5;




2. SELECT batter,count(*) as 'total_six' FROM campusx.ipl
where batsman_run = 6
group by batter
order by total_six Desc limit 1,1;



4. SELECT batter,ID,sum(batsman_run) as 'run' FROM campusx.ipl
group by batter,ID
having run >=100
order by batter Desc limit 5;